In [43]:
import glob
import pandas as pd 
from crystal_out import crystalOut
from matminer.featurizers.structure import SiteStatsFingerprint

In [3]:
all_crystal_outputs = glob.glob("../project_Raman/crystal17_output_files/*/*.out")
all_structures = {}
for fi in all_crystal_outputs:
    structure_name = fi.split("\\")[-1].split(".")[0]
    with open(fi, "r") as f:
        data = crystalOut(fi)
        all_structures[structure_name] = data.structure

print("Number of structures processed:", len(all_structures.keys()))
print(all_structures.keys())

Number of structures processed: 56
dict_keys(['As2O3_14', 'As2O3_227', 'As2S3_2', 'As2Se3_12', 'As4S3_62', 'As4S5_11', 'As8S9_13', 'AsBr3_19', 'AsO2_62', 'AsS2_4', 'AsS_15', 'GeS2_7', 'Li2S_225', 'Li3P7_19', 'Li3PO4_31', 'Li3P_194', 'Li4GeS4_62', 'Li4P2O7_153', 'LiP_14', 'Na2S5_32', 'Na2S5_62', 'Na3PO4_114', 'Na3PS4_114', 'Na3P_185', 'NaP15_2', 'NaP5_62', 'NaP_19', 'NaS2_122', 'NaS_194', 'P2O3_11', 'P2O5_62', 'P2S3_11', 'P2S5_2', 'P2S7_14', 'P2S7_2', 'P2Se5_14', 'P4S5_11', 'P4S7_14', 'P4S9_14', 'P4Se5_33', 'PO2_15', 'PSe_14', 'PS_15', 'Sb2O3_19', 'Sb2O3_227', 'Sb2O3_56', 'Sb2O5_15', 'Sb2Se3_62', 'Sb2Te_164', 'SbBr3_19', 'SbCl3_62', 'SbCl5_194', 'SbI3_14', 'SbO2_15', 'SbO2_33', 'Te3As2_12'])

In [15]:
structure_name = list(all_structures.keys())[0]
print(structure_name)
current_structure = all_structures[structure_name]
current_structure

As2O3_14

Structure Summary
Lattice
    abc : 6.957471539999999 5.42405844 9.19055272
 angles : 90.0 98.65217699999998 90.0
 volume : 342.883614096353
      A : 6.878294088668677 0.0 -1.0466521197109848
      B : 8.722551230533723e-16 5.42405844 3.321277903467093e-16
      C : 0.0 0.0 9.19055272
PeriodicSite: As (1.6428, 2.4350, 1.1479) [0.2388, 0.4489, 0.1521]
PeriodicSite: As (-1.0147, 2.1527, 2.9519) [-0.1475, 0.3969, 0.3044]
PeriodicSite: O (2.1143, 1.6306, 2.7360) [0.3074, 0.3006, 0.3327]
PeriodicSite: O (-0.1692, 2.0932, 1.3614) [-0.0246, 0.3859, 0.1453]
PeriodicSite: O (-2.5250, -2.4710, 2.2341) [-0.3671, -0.4556, 0.2013]

In [18]:
current_structure

Structure Summary
Lattice
    abc : 6.957471539999999 5.42405844 9.19055272
 angles : 90.0 98.65217699999998 90.0
 volume : 342.883614096353
      A : 6.878294088668677 0.0 -1.0466521197109848
      B : 8.722551230533723e-16 5.42405844 3.321277903467093e-16
      C : 0.0 0.0 9.19055272
PeriodicSite: As (1.6428, 2.4350, 1.1479) [0.2388, 0.4489, 0.1521]
PeriodicSite: As (-1.0147, 2.1527, 2.9519) [-0.1475, 0.3969, 0.3044]
PeriodicSite: O (2.1143, 1.6306, 2.7360) [0.3074, 0.3006, 0.3327]
PeriodicSite: O (-0.1692, 2.0932, 1.3614) [-0.0246, 0.3859, 0.1453]
PeriodicSite: O (-2.5250, -2.4710, 2.2341) [-0.3671, -0.4556, 0.2013]

In [42]:
full_cnnf = SiteStatsFingerprint.from_preset("CrystalNNFingerprint_ops")
all_structure_names_list = list(all_structures.keys())
featurized_data = {"structure": []}
for i in range(122):
    featurized_data[full_cnnf.feature_labels()[i]] = []
for structure_name in all_structure_names_list:
    print("Structure:", structure_name)
    current_structure = all_structures[structure_name]
    
    # Computes statistics of properties across all sites in a structure.
    try:
        current_cnnf_features = full_cnnf.featurize(current_structure)
        assert len(current_cnnf_features) == 122 # must be 122 length feature 
        featurized_data["structure"].append(structure_name)
        for i in range(122):
            featurized_data[full_cnnf.feature_labels()[i]].append(current_cnnf_features[i])
    except ValueError as e:
        print(">>>>", e)

Structure: As2O3_14
Structure: As2O3_227
Structure: As2S3_2

C:\Users\pengf\Anaconda3\envs\deepchem\lib\site-packages\pymatgen\analysis\local_env.py:4131: UserWarning: No oxidation states specified on sites! For better results, set the site oxidation states in the structure.
  warnings.warn(
C:\Users\pengf\Anaconda3\envs\deepchem\lib\site-packages\pymatgen\analysis\local_env.py:3934: UserWarning: CrystalNN: cannot locate an appropriate radius, covalent or atomic radii will be used, this can lead to non-optimal results.
  warnings.warn(

Structure: As2Se3_12
Structure: As4S3_62
Structure: As4S5_11
Structure: As8S9_13
Structure: AsBr3_19
Structure: AsO2_62
Structure: AsS2_4
Structure: AsS_15
Structure: GeS2_7
Structure: Li2S_225
Structure: Li3P7_19
Structure: Li3PO4_31
Structure: Li3P_194
Structure: Li4GeS4_62
Structure: Li4P2O7_153
Structure: LiP_14
Structure: Na2S5_32
Structure: Na2S5_62
Structure: Na3PO4_114
Structure: Na3PS4_114
Structure: Na3P_185
Structure: NaP15_2
Structure: NaP5_62
Structure: NaP_19
Structure: NaS2_122
>>>> No Voronoi neighbors found for site - try increasing cutoff
Structure: NaS_194
Structure: P2O3_11
Structure: P2O5_62
Structure: P2S3_11
Structure: P2S5_2
Structure: P2S7_14
Structure: P2S7_2
Structure: P2Se5_14
Structure: P4S5_11
Structure: P4S7_14
Structure: P4S9_14
Structure: P4Se5_33
Structure: PO2_15
Structure: PSe_14
Structure: PS_15
Structure: Sb2O3_19
Structure: Sb2O3_227
Structure: Sb2O3_56
Structure: Sb2O5_15
Structure: Sb2Se3_62
Structure: Sb2Te_164
Structure: SbBr3_19
Structure: SbCl3_62
Structure: SbCl5_194
Structure: SbI3_14
Structure: SbO2_15
Structure: SbO2_33
Structure: Te3As2_12

In [45]:
df = pd.DataFrame(featurized_data)
df.head()

,structure,mean wt CN_1,std_dev wt CN_1,mean sgl_bd CN_1,std_dev sgl_bd CN_1,mean wt CN_2,std_dev wt CN_2,mean L-shaped CN_2,std_dev L-shaped CN_2,mean water-like CN_2,...,mean wt CN_20,std_dev wt CN_20,mean wt CN_21,std_dev wt CN_21,mean wt CN_22,std_dev wt CN_22,mean wt CN_23,std_dev wt CN_23,mean wt CN_24,std_dev wt CN_24
0,As2O3_14,0.657535,0.390660,0.657535,0.390660,0.338136,0.393945,0.182468,0.343371,0.176080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,As2O3_227,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,As2S3_2,0.209187,0.195008,0.209187,0.195008,0.612716,0.222033,0.432184,0.135677,0.557580,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,As2Se3_12,0.427725,0.313013,0.427725,0.313013,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,As4S3_62,0.230165,0.170949,0.230165,0.170949,0.769835,0.170949,0.437987,0.147564,0.745076,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
df.describe()

,mean wt CN_1,std_dev wt CN_1,mean sgl_bd CN_1,std_dev sgl_bd CN_1,mean wt CN_2,std_dev wt CN_2,mean L-shaped CN_2,std_dev L-shaped CN_2,mean water-like CN_2,std_dev water-like CN_2,...,mean wt CN_20,std_dev wt CN_20,mean wt CN_21,std_dev wt CN_21,mean wt CN_22,std_dev wt CN_22,mean wt CN_23,std_dev wt CN_23,mean wt CN_24,std_dev wt CN_24
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,...,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0
mean,0.433814,0.311599,0.433814,0.311599,0.266541,0.241585,0.138203,0.144928,0.197010,0.185219,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.257102,0.150273,0.257102,0.150273,0.221923,0.173341,0.134567,0.136808,0.206579,0.154586,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.255165,0.243923,0.255165,0.243923,0.067554,0.056649,0.004319,0.006274,0.015268,0.019650,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.427725,0.378614,0.427725,0.378614,0.261666,0.273791,0.106755,0.131126,0.104194,0.170164,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.649156,0.413125,0.649156,0.413125,0.449123,0.393184,0.211911,0.258826,0.345915,0.336911,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.000000,0.500000,1.000000,0.500000,0.810247,0.493988,0.437987,0.427628,0.753227,0.459606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
df.to_csv("CrystalNN_Stat_Features_0413.csv")